@{
    ViewBag.Title = "Productos Rodando";
}

<div class="jumbotron">
    <h1>Productos Rodando</h1>
    <p class="lead">Gestione sus pedidos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciando</h2>
        <p>
            Productos rodando es una aplicación diseñada ´para que gestiones sus pedidos.
        </p>
    </div>
</div>